header{
    display: block;
    text-align: center;
    padding-bottom: 7%;
}
.row{
    text-align: center;
}
main{
    font-family: sans-serif;
}
figure{
    text-align: center;
    justify-content: center;
}

.more{
    margin: 20px;
}
.wiki{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.container{
    padding: 20px 15% 20px 15%;
}